<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @pruebaloca.nombre %>
</p>

<p>
  <b>Pelos:</b>
  <%= @pruebaloca.pelos %>
</p>


<%= link_to 'Edit', edit_pruebaloca_path(@pruebaloca) %> |
<%= link_to 'Back', pruebalocas_path %>
