<title> Search Posts </title>
<%= stylesheet_link_tag "search", :media => "all" %>

<h1>Search Posts</h1>

<div class="search">
	<%= form_tag "search_by_fields", :remote=>true do%>
	 	<div class="column">
	  	<%= label_tag :tag %><br />
	  	<%= text_field_tag :tag %>
	 	</div>
	 	<div class="column">
	  	<%= label_tag :post_date %><br />
	  	<%= text_field_tag :post_date %>
	 	</div>
	 	<div class="column">
	 		<%= label_tag :keyword %><br />
	  	<%= text_field_tag :keyword %>
	 	</div>
	 	<%= submit_tag("Search") %>
		<p id="notice"><%= flash[:notice] %></p>
	<% end %>
</div>

	<table>
	  <thead>
	    <th>User</th>
	    <th>Content</th>
	    <th>Title</th>
	  </thead>
		<tbody id="div_posts">
		</tbody>
	</table>