<p>
  <b>Name:</b>
  <%= @user.name %>
  <% if (@can_follow)%>
    <div class ="link"><%= link_to 'Follow', user_follow_path %></div>
  <%else%>
    <div class ="link"><%= link_to 'Unfollow', user_unfollow_path %></div>
  <%end%>
</p>

<p>
  <b>Mail:</b>
  <%= @user.email %>
</p>
<p>
  <%= image_tag @user.image %>
</p>

<p> ----------------------------------------------------------- </p> <br>
<table>
  <tr>
    <th>Name</th>
    <th>Message</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @user.posts.each do |post| %>
  <tr>
    <td><%= @user.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', user_post_path(@user,post) %></td>
  </tr>
<% end %>
</table>

<p> ----------------------------------------------------------- </p> <br>
