<h1 class="inside_title">
<%=@user.name%>
's home</h1>

<br>

<table>
<tr>  
  <td>
  <h2>My Posts:</h2>
  </td>

</tr>

<tr>
  <td>
    <% @user.posts.reverse.each do |post| %>
      <%= link_to post.title, user_post_path(@user,post) %>
      
      <h6>Created time : <%= post.created_at %>
      <%= link_to 'Delete', [@user,post], confirm: 'Are you sure?', method: :delete %></h6>
      <%= image_tag post.image.url(:thumb) %>
      
      <%= post.content %>
      <p>------------------------------------------------------------------------------------</p>
      
      <br>
    <% end %>
  </td>
  <td valign="top">


  </td>
</tr>
</table>
<h1 class="inside_title">Create a new post:</h1></br>
  <%= render 'form_new_post'%>
  
