<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @test.nombre %>
</p>

<p>
  <b>Pelos:</b>
  <%= @test.pelos %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
