<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%=javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>  
</head>
<body>
  
  <div class = "content">
    <div class = "header">
      <% unless (session[:user_id] == nil) %>
        <div class ="link"><%= link_to 'Logout', users_logout_path %></td></div>
      <%end%>
      <% if (session[:user_id] == nil) %>
        <div class ="link"><%= link_to 'Login', users_login_path %></td></div>
      <%end%>
      <div class ="link"><%= link_to 'Search', search_index_path %></td> </div>
    </div>
    <div class = "info">
    <%= yield %>
    </div>
    <div class = "sidebar">
      <% unless (session[:user_id] == nil) %>
        <div class="link"><%= link_to 'Edit my account', edit_user_path(@user) %></div>
        <%= link_to image_tag(@user.image), user_path(@user)%>
        <h1 class = "inside_title">My tags:</h1>
        <% tags = Tag.my_tags(session[:user_id]).order() %>
        <% tags.uniq.each do |t| %>
          <%= link_to t.label, tag_path(t.id) %>
        <% end%>
      <%end%>
    </div>
    <div class = "footer">
      footer!!!
    </div>
  </div>
</body>
</html>
